.me {
  border-radius: 30px;
  display: block;
  margin-bottom: 30px;
  margin-top: 56px;
}
.left-sidebar .sidebar-header {
  margin-bottom: 65px;
}

/* .designation-name {
  height: 100px;
} */
.designation {
  text-align: center;
  color: #fff;
  font-size: 50px;
  width: 100%;
  font-weight: bolder;
}
.left-sidebar h2 {
  font-size: 24px;
  color: #fff;
  text-align: center;
  font-weight: 300;
}
.left-sidebar .address {
  margin-bottom: 30px;
}
.left-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.left-sidebar .copyright {
  font-size: 14px;
  text-align: center;
}
.left-sidebar .social-profile {
  gap: 8px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.left-sidebar .social-profile li {
  list-style: none; /* Optional: remove bullet points */
}

.left-sidebar .social-profile li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border: 2px solid #565656;
  border-radius: 50%;
  color: #999999;
  font-size: 24px; /* Increase or decrease to adjust icon size */
  transition: 0.3s;
}
.left-sidebar .social-profile li a:hover {
  color: rgba(56, 189, 248);
  border-color: rgba(56, 189, 248); /* Purple border on focus */
  outline: none;
  box-shadow: 0 0 4px rgba(56, 189, 248);
}
.left-sidebar .theme-btn {
  width: 100%;
  margin: 10px 0;
}

.theme-btn {
  background: #38bdf8;
  color: #000000;
  display: block;
  text-align: center;
  padding: 11px 58px 10px 58px;
  display: inline-flex;
  align-items: center;
  border-radius: 30px;
  justify-content: center;
  text-transform: uppercase;
  border: none;
  transition: 0.3s;
  cursor: pointer;
  border: 2px solid white;
}
.theme-btn i {
  font-size: 24px;
  margin-right: 10px;
  display: block;
  margin-bottom: 3px;
}
.theme-btn:hover {
  background: none;
  color: #fff;
  border-color: rgba(56, 189, 248); /* Purple border on focus */
  box-shadow: 0 0 4px rgba(56, 189, 248);
}

.hero-theme {
  width: 75%;
}

.mhy-icon {
  font-size: 2.5rem; /* Adjust icon size (use rem or px as needed) */
  display: flex;
  justify-content: center;
  align-items: center;
}
