.portfolio-section {
  width: 100%;
  max-width: 75%;
  background-color: rgba(61, 61, 61, 0.25);
  padding: 2rem;
  border-radius: 1rem;
  padding-bottom: 75px;
}

.card-outer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-inner {
  width: 100%;
  max-width: 90%;
  border-radius: 30px;
  border: 1px solid white;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
}

.card-inner:hover {
  background-color: rgba(255, 255, 255, 0.3);
  border-color: skyblue;
  cursor: pointer;
}

.card-inner img {
  width: 100%;
  border-radius: 30px;
  margin: 20px 0;
}

.card-inner h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-inner p {
  text-align: justify;
}

.icon-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.icons-wrapper {
  display: flex;
  gap: 20px;
}

.icon-wrapper {
  position: relative;
  display: inline-block;
}

.icon-text {
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0s 0.3s;
}

.icon-wrapper:hover .icon-text {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.filter-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.filter-buttons button {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  background-color: rgba(61, 61, 61, 0.3);
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  position: relative; /* Ensure the button is above other elements */
}

.filter-buttons .active {
  background-color: #38bdf8;
  color: #000;
  font-weight: bold;
}

.see-more-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.see-more-btn {
  margin-top: 25px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: none;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.see-more-btn:hover {
  background-color: #1e90ff; /* Darker blue */
  transform: scale(1.1); /* Slightly enlarge the button */
}

.see-more-btn:active {
  transform: scale(1); /* Reset to original size when clicked */
}

@media (max-width: 768px) {
  .filter-buttons {
    display: flex; /* Stack buttons vertically */
    align-items: center;
    gap: 15px;
    z-index: 10;
  }

  .filter-buttons button {
    width: 50%;
    padding: 12px;
    font-size: 16px;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .filter-buttons {
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
    align-items: center;
    gap: 15px;
    z-index: 10;
  }

  .filter-buttons button {
    width: 80%;
    padding: 12px;
    font-size: 16px;
    text-align: center;
  }
}
