.job-role-text {
  @apply text-5xl leading-tight font-semibold lg:text-[40px] lg:leading-[1.15]
  max-w-max text-sky-400;
  -webkit-background-clip: text;
}

/* Ensure no padding on .container and h1 */
.container,
.container h1 {
  padding: 0 !important; /* Remove padding with !important */
}

.main-font-role {
  font-size: 3rem;
  text-align: left;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.8rem;
  }

  .job-role-text {
    font-size: 1.8rem;
  }

  .main-font-role {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 480px) {
  .container {
    margin-top: 0;
  }
  h1 {
    font-size: 1.2rem;
  }

  .job-role-text {
    font-size: 1.2rem;
  }

  .main-font-role {
    font-size: 1.2rem;
  }
}
